
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

$heading1: 58px;
$heading2: 34px;
$heading3: 18px;
$heading4: 16px;

$primaryColor: #AA60C8;
$secondaryColor: #FFDFEF;
$textColor: #1a1a1a;